<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="wrapper-active">
                <button class="primary">Primary</button>
                <button class="secondary">Secondary</button>
                <button class="alternate">Alternate</button>
        </div>
            <div class="wrapper-disabled">
                <button class="primary" disabled>Primary</button>
                <button class="secondary" disabled>Secondary</button>
                <button class="alternate" disabled>Alternate</button>
            </div>
        </div>
</body>
</html>