<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Skeleton</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="circle skeleton"></div>
            <div class="wrapper_rectangle">
                <div class="rectangle_one skeleton"></div>
                <div class="rectangle_two skeleton"></div>
            </div>
        </div>
        <div class="rectangle_three skeleton"></div>
        <div class="rectangle_four skeleton"></div>
    </div>
</body>
</html>