<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Accordion</title>
</head>
<body>
    <details class="accordion">
        <summary class="accordion_summary">
            <div>Accordion item 1</div>
            <img class="accordion_image" src="images/Vector.svg" alt="Стрелка">
        </summary>
    <p class="accordion_text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    </p>
    </details>
</body>
</html>