* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

.container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 24px; 
    box-shadow: 0 0 10px 0 black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    
}

.list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.main {
    background-color: #F9FAFC;
    height: 100vh;
}

.footer {
    background-color: white;
}